@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4"><i class="fas fa-battery-empty"></i>disinterest</h1>
        <p>Products as useless as an empty battery.</p>
        <hr />
        <button type="button" class="btn btn-dark" href="/Home"><i class="fas fa-battery-empty"></i> yeah</button>
    </div>
